<!doctype html>
<html class="h-full bg-gray-100" lang="en">
<head>
  <title>Data Contract</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# <script src="https://cdn.tailwindcss.com"></script> #}
  <script src="https://unpkg.com/@panzoom/panzoom@4.6.0/dist/panzoom.min.js"></script>

  <style>
    {{ style | safe }}
  </style>
</head>
<body class="h-full">
<div class="min-h-full flex flex-col">
  {{ render_partial('partials_odcs/header.html', datacontract=datacontract) }}
  <main class="pb-7">

    <div class="pt-5 mx-auto max-w-7xl sm:px-6 lg:px-8">
      {{ render_partial('partials_odcs/title.html', datacontract=datacontract) }}
      <div>
        <div class="space-y-6 mt-6">
          {{ render_partial('partials_odcs/fundamentals.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/context.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/term_of_use.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/diagram.html', mermaid_diagram=mermaid_diagram) }}
          {{ render_partial('partials_odcs/schema.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/servers.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/team.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/support.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/roles.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/pricing.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/sla.html', datacontract=datacontract) }}
          {{ render_partial('partials_odcs/custom_properties.html', datacontract=datacontract) }}
        </div>
      </div>
      <div class="mt-6 text-sm text-gray-400">
        Created at {{ formatted_date }} with <a href="https://cli.datacontract.com" class="text-gray-400 hover:text-gray-500">Data Contract CLI</a> v{{ datacontract_cli_version }}
      </div>
    </div>
  </main>
  {{ render_partial('partials_odcs/dialog_yaml.html', datacontract_yaml=datacontract_yaml) }}
  {{ render_partial('partials_odcs/footer.html') }}

</div>

</body>
</html>