[project]
name = "datacontract-cli"
version = "0.10.3"
description = "Test data contracts"
readme = "README.md"
authors = [
  { name = "Jochen Christ", email = "jochen.christ@innoq.com" },
  { name = "Stefan Negele", email = "stefan.negele@innoq.com" },
]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
requires-python = ">=3.10"
dependencies = [
  "typer[all]>=0.9,<0.13",
  "pydantic>=2.5.3,<2.8.0",
  "pyyaml~=6.0.1",
  "requests~=2.31.0",
  "fastapi==0.111.0",
  "fastparquet==2024.2.0",
  "python-multipart==0.0.9",
  "rich~=13.7.0",
  "simple-ddl-parser==1.1.0",
  "soda-core-bigquery>=3.3.1,<3.4.0",
  "soda-core-duckdb>=3.3.1,<3.4.0",
  "soda-core-postgres>=3.3.1,<3.4.0",
  "soda-core-snowflake>=3.3.1,<3.4.0",
  "soda-core-spark[databricks]>=3.3.1,<3.4.0",
  "soda-core-spark-df>=3.3.1,<3.4.0",
  "snowflake-connector-python[pandas]>=3.6,<3.8",
  "duckdb==0.10.2",
  "fastjsonschema~=2.19.1",
  "python-dotenv~=1.0.0",
  "s3fs==2024.3.1",
  "rdflib==7.0.0",
  "avro==1.11.3",
  "opentelemetry-exporter-otlp-proto-grpc~=1.16.0",
  "opentelemetry-exporter-otlp-proto-http~=1.16.0",
  "deltalake~=0.17.0",
  "boto3>=1.34.41,<1.34.99",
  "botocore>=1.34.41,<1.34.99"
]

[project.optional-dependencies]
dev = [
  "httpx==0.27.0",
  "ruff",
  "pytest",
  "pytest-xdist",
  "moto",
  # testcontainers 4.x have issues with Kafka on arm
  # https://github.com/testcontainers/testcontainers-python/issues/450
  "testcontainers<4.0.0",
  "testcontainers-minio",
  "testcontainers-postgres",
  "testcontainers-kafka",
#  https://github.com/testcontainers/testcontainers-python/issues/554
#  "testcontainers~=4.4.0",
#  "testcontainers[minio]",
#  "testcontainers[postgres]",
#  "testcontainers[kafka]",
]

[project.urls]
Homepage = "https://cli.datacontract.com"
Issues = "https://github.com/datacontract/cli/issues"

[project.scripts]
datacontract = "datacontract.cli:app"

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
addopts="-n 8"

[tool.ruff]
line-length = 120
