[project]
name = "datacontract-cli"
version = "0.9.2"
description = "Validate data contracts"
readme = "README.md"
authors = [
  { name = "Jochen Christ", email = "jochen.christ@innoq.com" },
  { name = "Stefan Negele", email = "stefan.negele@innoq.com" },
]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
requires-python = "~=3.11"
dependencies = [
  "typer[all]~=0.9.0",
  "pydantic~=2.5.3",
  "pyyaml~=6.0.1",
  "requests~=2.31.0",
  "fastparquet==2023.10.1",
  "soda-core-duckdb~=3.1.3",
  "soda-core-snowflake~=3.1.3", # snowflake
  "snowflake-connector-python[pandas]~=3.6.0", # snowflake
  "duckdb~=0.9.2",
  "fastjsonschema~=2.19.1",
  "python-dotenv~=1.0.0",
  "s3fs==2023.12.2",
]

[project.optional-dependencies]
dev = [
  "pytest",
  "testcontainers-minio"
]

[project.urls]
Homepage = "https://cli.datacontract.com"
Issues = "https://github.com/datacontract/cli/issues"

[project.scripts]
datacontract = "datacontract.cli:app"

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"
