<li class="relative flex gap-x-6 px-4 py-5 sm:px-6">
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Server</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server_name}}</dd>
      </div>
    </div>
  </div>

  {% if server.environment %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Environment</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.environment}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.type %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Type</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.type}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.project %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Project</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.project}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.dataset %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Dataset</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.dataset}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.location %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Location</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.location}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.endpointUrl %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Endpoint URL</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.endpointUrl}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.account %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Account</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.account}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.host %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Host</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.host}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.port %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Port</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.port}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.catalog %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Catalog</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.catalog}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.database %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Database</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.database}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.schema_ %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Schema</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.schema_}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.topic %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Topic</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.topic}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.path %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Path</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.path}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.format %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Format</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.format}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.delimiter %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Delimiter</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.delimiter}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server.description %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">Description</dt>
        <dd class="mt-1 text-sm text-gray-900">{{server.description}}</dd>
      </div>
    </div>
  </div>
  {% endif %}

  {% for key, value in server.model_extra.items()  %}
  <div class="flex items-center gap-x-4">
    <div class="sm:flex sm:flex-col">
      <div class="flex flex-col">
        <dt class="text-sm font-medium text-gray-500">{{ key }}</dt>
        <dd class="mt-1 text-sm text-gray-900">{{ value }}</dd>
      </div>
    </div>
  </div>
  {% endfor %}

</li>