<section id="diagram">
  <div class="px-4 sm:px-0">
    <h1 class="text-base font-semibold leading-6 text-gray-900">Entity Relationship Diagram</h1>
    <p class="text-sm text-gray-500">Visual representation of data model relationships</p>
  </div>
  <div class="mt-2 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-lg">
    <div class="diagram-container p-4 w-full" id="diagram-container">
        <pre class="mermaid">
          {{ mermaid_diagram }}
        </pre>
      </div>
  </div>
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';

    mermaid.initialize({
      startOnLoad: false,
      theme: 'neutral'
    });
    await mermaid.run({
      querySelector: '.mermaid',
      postRenderCallback: (id) => {
        const container = document.getElementById("diagram-container");
        const svgElement = container.querySelector("svg");

        if (svgElement) {
          const panzoomInstance = Panzoom(svgElement, {
            maxScale: 5,
            minScale: 0.5,
            step: 0.1,
          });

          container.addEventListener("wheel", (event) => {
            event.preventDefault();
            panzoomInstance.zoomWithWheel(event);
          });
        }
      }
    });
  </script>
</section>
