<footer class="bg-white mt-auto text-sm text-gray-400">
  <div class="mx-auto max-w-7xl py-5 px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-2">
      <div>
        <a href="https://cli.datacontract.com" class="text-gray-400 hover:text-gray-500 px-2">Data Contract CLI</a>
        <a href="https://datacontract.com" class="text-gray-400 hover:text-gray-500 px-2">Data Contract Specification</a>
      </div>
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center leading-5 text-gray-400">
        Supported by <a href="https://datacontract-manager.com" class="text-gray-400 hover:text-gray-500">Data Contract Manager</a>
      </p>
    </div>
  </div>
</footer>
